a {
  text-decoration: none;
  color: black;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron {
  padding: 20px;
  background-color: #1184f6;
  border-radius: 0.3rem;
  width: 100%;
}

form {
  width: 100%;
  border: 3px solid #1184f6;
  padding: 20px;
  border-radius: 12px;
}

.user-card {
  margin-top: 10px;
  transition: all 0.35s ease-in-out;
}

.user-card .ajax {
  background-color: #1184f6;
}

.user-card .fetch {
  background-color: pink;
}

.user-card .manual {
  background-color: red;
}

.user-card .card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  background-color: white;
  color: black;
}

#user-cards {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  form {
    width: 50%;
  }
}
